body{
    background: url(bg.jpg) no-repeat center/cover;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}
.card{
    background: url(ded.jpg) no-repeat center/cover;
    width: 400px;
    height: 300px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgb(236, 236, 171);
    color: white;
    position: relative;
    animation: appearCard 2s;
}
@keyframes appearCard{
    0%{
        opacity: 0;
    }
    25%{
        color: red;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}

.card-content{
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 15px;
    animation: appearBlock 1.5s;
}
@keyframes appearBlock{
    0%{
        opacity: 0;
        transform: translateY(100%);
    }
    50%{
        opacity: 0.2;
        transform: translateY(100%);
    }
    100%{
        opacity: 1;
    }
}
h1{
    font-size: 35px;
    margin: 0;
    text-shadow: 2px 4px 4px black;
}
p{
    font-size: 18px;
    margin: 10px 0;
    text-shadow: 2px 4px 4px black;
}
button{
    color: white;
    background-color: rgb(159, 41, 41);
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 2px 5px 5px rgb(227, 227, 156);
    cursor: pointer;
}
button:hover{
    background-color: rgb(97, 123, 97);
    box-shadow: 2px 5px 5px rgb(149, 149, 124);
}